:root {
  width: 100vw;
  height: 100vh;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: yellow;
}

a:hover {
  color: gold;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
}

button:hover {
  border-color: #646cff;
}




/*  */
/*  */
/*  */
/* frequently used component styling */
/*  */
/*  */
/*  */

/* content displays for screens */
.screen {
  z-index: 2;
  position: absolute;
  top: 20%;
  left: 15%;
  width: 70%;
  height: 60%;
  border-radius: 20px;
  color: white;
  background: rgba(121, 80, 242, 0.4);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}

.title {
  padding: 20px 0px;
  text-align: center;
  text-decoration: underline;
}

.content {
  padding: 0px 40px;
}






/*  */
/*  */
/*  */
/* modal styling */
/*  */
/*  */
/*  */

/* styling to fix mantine's modal */

/* .mantine-Modal-root { */
/* margin: 0;
  padding: 0; */
/* } */

.mantine-Modal-inner {
  /* margin: 0;
  padding: 0; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mantine-Modal-content {
  /* margin: 0;
  padding: 0; */
  flex: none;
  background: #ffffff35;
  animation: fadeIn 2s ease-in-out;
}

/* .mantine-Modal-header { */
/* margin: 0;
  padding: 0; */
/* } */

.mantine-Modal-overlay {
  /* margin: 0;
  padding: 0; */
  background: #a885f280;
  animation: fadeIn 1s ease-in-out;
}

/* .mantine-Modal-title { */
/* margin: 0;
  padding: 0; */
/* } */

.mantine-Modal-body {
  /* margin: 0;
  padding: 0; */
  overflow: hidden;
}

/* .mantine-Modal-close { */
/* margin: 0;
  padding: 0; */
/* } */




/*  */
/*  */
/*  */
/* starting screen animations */
/*  */
/*  */
/*  */

/* container for website intro */
.intro {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  /* background: #ffffff35; */
  border-radius: 5rem;
  transition: all 0.4s;
  animation: fadeIn 2s ease-in-out;
}

.intro--disappear {
  z-index: -1;
}

/* hero text for home screen */
.hero {
  padding: 20px;
  position: relative;
  color: white;
  font-size: 5rem;
  letter-spacing: 0.5rem;
  transition: all 0.4s;
  animation: fadeUp 2s ease-in-out;
}

/* move hero text after click */
.intro--disappear .hero {
  top: 40px;
  transform: scale(0.25);
  transform-origin: center top;
}

/* explore button */
.explore {
  position: relative;
  overflow: hidden;
  color: #F2EFBD;
  transition: all 0.4s;
  animation: fadeUp 1.2s ease-in-out 1.2s forwards;
  opacity: 0;
}

/* text colour changes when hovered */
.explore:hover {
  color: white;
}

/* bubble to fill the button */
.explore:before {
  content: "";
  background: #C98EF2;
  position: absolute;
  width: 0%;
  bottom: 0;
  left: 50%;
  height: 0%;
  transition: 0.5s ease-in-out;
  z-index: -1;
  transform: translateX(-50%) translateY(50%);
}

/* bubble expands on hover */
.explore:hover:before {
  width: 200%;
  height: 300%;
  border-radius: 100%;
}

/* ease out button after click */
.intro--disappear .explore {
  animation: fadeOut 1s ease-in-out forwards;
}

/* cover fade for easing into seeing model */
.cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 4;
  background: #A885F2;
  transition: opacity 2s ease-in-out;
}

/* remove cover */
.cover--disappear {
  opacity: 0;
  z-index: -1;
}




/*  */
/*  */
/*  */
/* mobile view scaling */
/*  */
/*  */
/*  */

@media screen and (max-width: 768px) {
  .hero {
    font-size: 3rem;
    letter-spacing: 0.25rem;
  }

  .intro--disappear .hero {
    top: 25px;
    transform: scale(0.5);
    transform-origin: center top;
  }
}




/*  */
/*  */
/*  */
/* keyframe animations */
/*  */
/*  */
/*  */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
    filter: blur(10px);
  }

  100% {
    opacity: 1;
    filter: none;
  }
}